<div class="container" data-ng-controller="HeaderController">
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{
						ace.settings.check('navbar' , 'fixed')
				}
				catch(e)
				{
					console.log(e);
				}
			</script>

			<div class="navbar-container" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
					<span class="sr-only">Toggle sidebar</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="/#!/" class="navbar-brand">
						<small>
							<i class="fa fa-cog"></i>
							Administrador Newsweek
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
						<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
							<li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
								<a ng-switch-when="dropdown" class="dropdown-toggle">
									<span data-ng-bind="item.title"></span>
									<b class="caret"></b>
								</a>
								<ul ng-switch-when="dropdown" class="dropdown-menu">
									<li data-ng-repeat="subitem in item.items" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
										<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
									</li>
								</ul>
								<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
							<li class="divider-vertical"></li>
							<li ui-route="/signin" ng-class="{active: $uiRoute}">
								<a href="/#!/signin">Iniciar Sesión</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/#!/settings/profile"><i class="ace-icon fa fa-cog"></i> Editar perfil</a>
									</li>
									<!--
									<li>
										<a href="/#!/settings/accounts">Manage Social Accounts</a>
									</li>
									-->
							
									<li data-ng-show="authentication.user.provider === 'local'">
										<a href="/#!/settings/password"><i class="ace-icon fa fa-user"></i> Editar password</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/auth/signout"><i class="ace-icon fa fa-power-off"></i> Cerrar sesión</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>	
				</div>
			</div> <!-- /.navbar-container -->
		</div>
</div>
