<section data-ng-controller="ArticlesController" data-ng-show="authentication.user">
	<div class="page-header">
		<h1>Nuevo artículo</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
				<div class="form-group">
					<label class="control-label" for="title">Título</label>
					<div class="controls">
						<input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Título" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="autor">Autor</label>
					<div class="controls">
						<input type="text" data-ng-model="autor" id="autor" class="form-control" placeholder="Autor" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Contenido</label>
					<div class="controls">
						<textarea data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Contenido"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="title">Destacados</label>
					<div class="controls input-group">
						<input type="text" data-ng-model="citas" id="citas" class="form-control" style="width:550px" placeholder="Destacados" required><button type="button" class="btn btn-default glyphicon glyphicon-plus-sign"></button>
					</div>
				</div>
				<!--
				 <textarea id="editor" rows="10" cols="90" style="height:300px">
                    
                </textarea>

                -->
	            <script>
	                $(document).ready(function() {
	                    // create Editor from textarea HTML element with default set of tools
	                    //$("#editor").kendoEditor();
	                });
	            </script>
				<div class="form-group">
					<input type="submit" class="btn btn-default" value='Enviar'>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
		</form>
	</div>
</section>