<section data-ng-controller="ArticlesController" data-ng-init="find()" data-ng-show="authentication.user">
	<div class="page-header">
		<h1>Artículos</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Publicado en
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				por
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No hay articulos todavia, ¿por qué no <a href="/#!/articles/create">creas uno</a>?
	</div>
</section>